.header{
    background-color: skyblue;
    color: black;
    padding: 20px;
    text-align: center;
}
input{
    outline: none;
    padding: 20px;
    margin: 10px 10px;
}
button{
    padding: 10px 20px;
    margin: 10px;
}