*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}
body{
  background-color: #21231e;
  margin-top: 5%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
h1{
  font-size: 3rem;
  color: #eed2a9;
  margin-bottom: 50px;
  font-weight: 900;
}
p{
  color: #eca841;
  font-size: 1.1rem;
  margin-bottom: 30px;
}
.container{
  width: 50%;
  height: 80vh;
  text-align: center;
  margin: auto;
  border-radius: 20px;
  border: 2px dashed #758fc9;
  background-color: #3C3D37;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  padding: 10px;
  font-size: 1rem;
}
input, button{
  margin: 10px 0;
  text-align: center;
}
img{
  position: relative;
  width: 150px;
  height: 150px;
  margin: 5px 10px;
}
button{
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: skyblue;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.inner-container{
  width: 90%;
}
.inner-container, img{
  margin-top: 10px;
}